body {
  background: #fff;
  color: #111;
  max-height: 100vh;
  padding: 7.5vw;
  font-family: -apple-system, 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 1.11rem;
  line-height: 1.85rem;
  font-weight: 375;
}

a {
  color: #111;
}

.intro {
  margin: 0 0 2.5rem;

  h1 {
    font-size: 2.5rem;
  }

  h3 {
    margin: 2.5rem 0 0;
  }
}

.social {
  margin: 0 0 0rem;

  ul {
    list-style: none;
    padding: 0;
    display: flex;

    li {
      &:not(:last-of-type) {
        margin-right: 1rem;
      }
    }
  }
}

main {
  @media (min-width:1200px) {
    display: flex;
  }

  .social {
    padding-right: 5vw;
  }
}

.animate {
  transform: translateY(-75px);
  opacity: 0;
  transition: all 0.75s ease-in-out;

  &.loaded {
    transform: translateY(0);
    opacity: 1;
  }
}

.social {
  margin-top: -1.5rem;
  margin-bottom: 1.3rem;
}

.dark-mode-toggle {
  margin-top: 1.6rem;
}

h1 img {
  height: 1em;
  width: auto;
}

.input {
  visibility: hidden;
}

.label {
  background-color: black;
  height: 30px;
  width: 60px;
  position: absolute;
  border-radius: 20px;
  cursor: pointer;

}

.circle {
  width: 24px;
  height: 24px;
  background-color: white;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
  animation: toggleOff .3s linear forwards;
}


.input:checked+.label {
  background-color: white;
}

.input:checked+.label .circle {
  background-color: black;
  animation: toggleOn .3s linear forwards;
}

@keyframes toggleOn {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(30px);
  }
}

@keyframes toggleOff {
  0% {
    transform: translateX(30px);
  }

  100% {
    transform: translateX(0);
  }
}

.dark-mode-toggle {
  display: flex;

}

#dark-mode {
  margin-bottom: 70px;
}

header h1 {
  line-height: 1
}

.animate a {
  transform: translateY(-75px);
  opacity: 1;
  transition: all 0.75s ease-in-out;
}

.animate.loaded a {
  transform: translateY(0);
  opacity: 1;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  color: white;
  text-align: center;
  height: 40px;
  z-index: 1000;
}


